body{
    background-color: rgb(216, 240, 255);
}
.titulo{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(160, 196, 230);
    color:rgb(33, 48, 64);
}